
.venv
.env
# alembic.ini
alembic/versions
__pycache__/
*.py[cod]
*$py.class
*.cache
*.log
*.sqlite3
*.db
venv/
env/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swagger.json
*.openapi.json
.DS_Store
Thumbs.db
